1_website_chatbot\env\langflow_env.txt
1_website_chatbot\env\langflow_env.yml
1_website_chatbot\logs
1_website_chatbot\demo1_x4.mp4
1_website_chatbot\demo1.mp4
1_website_chatbot\Langflow_v1_project.json
1_website_chatbot\README.md
2_RestaurantGenerator\__pycache__
2_RestaurantGenerator\RestaurantNameGenerator\__pycache__
2_RestaurantGenerator\RestaurantNameGenerator\secret_key.py
2_RestaurantGenerator\README.md
2_RestaurantGenerator\RestaurantNameGenerator_demo.mp4
2_RestaurantGenerator\secret_key.py
3_URL_chatbot\docs
3_URL_chatbot\.env
3_URL_chatbot\chatbot_tiktik_demo.mp4
3_URL_chatbot\chatbot_tiktik_privacy_org.mp4
3_URL_chatbot\secret_key.py